<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1>Listagem de Disciplinas</h1>

      <p class="h5 text-center my-3">Interaja com a lista de disciplinas do curso. Adicione e remova quantas disciplinas
        quiser!</p>

      <div class="card">
        <div class="card-body">
          <div class="form-group text-center">
            <label class="form-label h5">Disciplina
              <input class="form-control my-2" type="text" #disciplina>
            </label>
          </div>
          <div class="d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-primary" (click)="this.subject.adicionarDisciplina(disciplina.value); disciplina.value='';">Adicionar</button>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-stripped table-primary">
            <thead>
              <tr>
                <th>Disciplina</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of subject.getDisciplinas(); index as i">
                <td>{{item.name}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="this.subject.removerDisciplina(i)">Apagar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>