<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1>Temporizador</h1>

      <p class="h5 text-center my-3">
        Escolha o intervalo de tempo para os números serem incrementados
      </p>

      <div class="card">
        <div class="card-body">
          <div class="form-group text-center">
            <label class="form-label h5"
              >Insira o intervalo (em milissegundos)
              <input
                class="form-control my-2"
                type="number"
                step="1"
                min="1"
                #intervalo
              />
            </label>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="d-grid gap-2 col-4">
              <button
                class="btn btn-primary"
                (click)="timer.iniciarContagem(intervalo.value); intervalo.value=''"
              >
                Iniciar
              </button>
            </div>
            <div class="d-grid gap-2 col-4">
              <button class="btn btn-danger" (click)="timer.pararContagem()">
                Parar
              </button>
            </div>
            <div class="d-grid gap-2 col-4">
              <button class="btn btn-warning" (click)="timer.zerarContagem()">
                Zerar
              </button>
            </div>
          </div>
          <div class="card-footer text-center">
            <p class="h1">
              <span class="badge bg-custom">{{timer.getContagem()}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
