<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1>Olá, visitante!</h1>

      <p class="h5 text-center my-3">Aqui você poderá utilizar um temporizador e interagir com uma lista de disciplinas
        do curso de Sistemas para
        Internet da Fatec Rubens Lara</p>

      <div class="card">
        <div class="card-body text-center">
          <strong>
            Site desenvolvido por
            <a href="https://github.com/PedroSalvino"> Pedro Salvino</a> (RA 0050831921022)
          </strong>
        </div>
      </div>
    </div>
  </div>
</div>